<div id="ActiveChatMobile" ng-show="ActiveChat.length">
    <div class="ActiveChatSection">
        <div class="ActiveChatItem" ng-repeat="chat in ActiveChat">
            <div  ng-show="chat.inChat.length==2">
                <img class="ActiveChatAvatar" src="{{chat.SendData.avatar | filtrPhoto:'user':SendData.sex}}">
            </div>
        </div>
        <div class="MessagesSection">
            <div class="messages-section">
                <div ng-repeat="mess in ActiveChatItem.Messages | orderBy : 'Time'" class="ChatActivemessagesSection">
                    <div class="MessDiv" ng-class="{'isend':mess.IdSend==user.UserID}">
                        <div class="Avatar" ng-show="mess.IdSend!=user.UserID">
                            <img src="{{mess.avatar | filtrPhoto:'user':mess.sex}}">
                        </div>
                        <div class="Content" style=" word-wrap: break-word;">
                                {{mess.Content}}
                         </div>
                    </div>
                </div>
                <div class="ChatEmpty" ng-show="!ActiveChatItem.Messages.length">
                    <i>Nie rospoczołeś jeszcze czatu z tym uzytkownikiem</i>
                </div>
            </div>
            
        </div>
        <div class="SentSection">
            <input type="text" class="SendMessMobile EnterSend"  chat-data-id="{{chat.IdConversation}}" placeholder="Napisz wiadmośc ...">
            <button class="SendMessButton">
                Wyślij
            </button>
        </div>
    </div>
</div>