<sectin ng-controller="MessagesController" id="Main-Messages">
    <nav class="navbar Messages-Nabvar">
        <ul class="navbar-menu">
            <li class="sent"><a>Napisz  wiadmość</a></li>
            <li><a>Skrzynka Odbiorcza</a></li>
        </ul>
        <span class="MessagesDiv Reeded" >
            <img class="MessagesIcon Messages" src="{{messages | urlIcons:'SainAsReed'}}">
            <span class="MessagesCount" ng-show="counts.NotreededMes>0">{{counts.NotreededMes | ToMuch:'normal'}}</span>
        </span>
        <img class="TrassDiv TrassClear" src="{{messages | urlIcons:'Delete'}}">
    </nav>
    <div class="messages-Loop">
        <div  class="row messages-Loop-Element" ng-class="{'not-reeded':message.NotReededCount>0}" ng-repeat="message in messages.NormalMessages | orderBy : '-date'" ng-show="!message.ShowDeleted">
            <div class="col-s-2">
                <img class="avatar" src="{{message.ShowAvatar}}">
            </div>
            
            <div class="col-s-10">
                <div class="row">
                    <div class="col-s-6 Login">
                        {{message.LoginShow}} <b ng-show="message.NotReededCount>0">({{message.NotReededCount}})</b>
                    </div>
                    <div class="col-s-6 Time">
                        {{message.ShowDate}}
                    </div>
                </div>
                <div class="messages-Loop-Contnet">
                    <span ng-if="message.sendID==user.UserID">
                        <i class="material-icons" ng-show="message.AddressRedded>0">reply</i>  
                        <i class="material-icons" ng-show="message.AddressRedded==0">done</i> 
                    </span> {{message.ShowContnet}}
                </div>
            </div>
        </div>
        <div class="Empty-Messages" ng-show="!counts.AllMessages">
             Brak Wadomości
        </div>
    </div>
</sectin>





