.Model{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    z-index: 2;
    display: none;
    
    &:before{
        content: '';
        display: block;
        position: fixed;
        background: black;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 1s ;
    }
    .InModelBady{
        position: absolute;     
    }
    .SlideLeft,.SlideRight{
        transition: all 1s ;
        top:0;
        right: -50%;
        width: 250px;

        
    }
    .SlideRight{
         transition: all 1s ;
        left: -50%;
    }
    .normal-model{
        background: gray;
        color: white;
        display: none;
        position: relative;
        width: 600px;
        margin: auto;
        transition: all 1s ;
        text-align: justify;
        padding: 10px;
        border-radius: 25px;
        .CloseIconDiv{
            position: relative;
            .Icon{
               position: absolute;
               top: -15;
               left: 570;
               width: 25px;
               height: 25px;
            }
        }
    }
    &.SlideRight{
        &:before {
          transition: all 1s ;
          opacity: .75;
        }
        .SlideRight{
          transition: all 1s ;
          left: 0;
        }
    }
    &.SlideLeft{
        &:before {
          transition: all 1s ;
          opacity: .75;
        }
        .SlideLeft{
            transition: all 1s ;
            right: 0;
        }
    }
    &.normal-model{
        &:before {
          transition: all 1s ;
          opacity: .75;
        }
    }
}
