//login setings
$loginNavbarBacground:#4e4ab1;
$borderMenulogin:5px solid #ffda0e;
$LoginMenuActiveColor:#ffffff;
$LoginMenuNotActiveColor:rgba(255, 255, 255, 0.61);
$transition:.3s all;
$navbarLetterSpacing:5px;
$navbarFontWeight:800;
$navbarColor:white;

$passwardBad: darken(#e80700, 5%); 
$Passwordweek:lighten(#ffd91e, 5%);
$PasswordGod:#3ec61f;
$PasswordStrong:lighten($PasswordGod, 10%);
$PasswordJoinColorHover:0px solid gold;

$ContentDivLoginBackround:#96cef2;
$ContentDivLoginBorderRadius:5%;
$ContentDivLoginBoxShoadow:0 2px 8px black;
$ContentDivLoginPadding:10px;
$loginSectionNameLetterSpacing:10px;
$loginSectionfontSize:1.5em;
$loginSectionNameFontFamily:serif;
$loginSectionNameFontColor:white;

$formBacground:rgba(233, 239, 242, 0.8);
$formPadding:10px;
$formMarginTop:10px;
$formOpacity:0.7;
$formHover:rgb(233, 239, 242);
$formBorderButton:2px solid gold;
$inputDanger:#e80700;
$inputSuces:lighten($PasswordGod, 10%);

$itemStanMarginLeft:10%;
$itemColor:white;
$itemPadding:10px;
$itemMarginBattn:-10px;
$itemLetterSpacing:2px;

.login-Navbar{
    background: $loginNavbarBacground;
    border-bottom: $borderMenulogin;
    
  .navbar-logo {
    font-size: 1.1em;
  }
  .logoNav{
        width: 100px;
        height: 50px;
  }
  .navbar-menu {
     transition: .6s all;
     a {
        letter-spacing: $navbarLetterSpacing;
        font-weight: $navbarFontWeight;
        &.loginsite-active{
            
            color:$LoginMenuActiveColor;
            opacity: 1;
        }   
        &.loginsite-Notactive{
            color: $LoginMenuNotActiveColor;
            opacity: 0.5;
        }
        &:hover, &:focus {
            color: $navbarColor;
        }
    }
  }
 
}
#login{
    display: block;
}
#register,#passwordresset,#regulation{
    display: none;
}
.loginActions{
    margin-top: 10px;
    text-align: center;
    .register,.passwordrest{
        margin-left: -10px;
    }
}
.login-errors{
    text-align: left;
    ul{
        list-style: none;
    }
}
.ContentDivLogin{
    background-color: $ContentDivLoginBackround;
    border-radius: $ContentDivLoginBorderRadius;
    box-shadow: $ContentDivLoginBoxShoadow;
    padding: $ContentDivLoginPadding;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-section-name{
        text-align: center;
        font-size:$loginSectionfontSize;
        font-family: serif;
        letter-spacing: $loginSectionNameLetterSpacing;
        color: $loginSectionNameFontColor;
    }
}
.form-input-normal{
    position: relative;
    input{
        background: $formBacground;
        padding: $formPadding;
        outline: none;
        min-width: inherit;
        border: none;
        width: 80%;
        margin-top: $formMarginTop;
        opacity: $formOpacity;
        &:hover,&:focus{
            background: $formHover;
            opacity: 1;
            border-bottom: $formBorderButton;
        }
        &.inputError{
            background: $inputDanger;
            &:hover,&:focus{
                background: $inputDanger;
            }
        }
        &.inputSucces{
            background: $inputSuces;
            &:hover,&:focus{
                background: $inputSuces;
            }    
        }
        &.Password-bad{
            background: $passwardBad;
        }
        &.Password-week{
            background: $Passwordweek;
        }
        &.Password-good{
            background: $PasswordGod;
        }
        &.Password-strong{
            background: $PasswordStrong;
        }
        &.PasswaordJoin{
            margin-top: 0px;
            &hover{
                border-bottom: $PasswordJoinColorHover;
            }
         }
    }
    &.noborderhover{
        input{
            &:hover,&:focus{
               border-bottom: none;
            }
        }
    }
    .itemStan{
         margin-left: $itemStanMarginLeft;
         width: 80%;
         color: $itemColor;
         padding: $itemPadding;
         margin-bottom: $itemMarginBattn;
         letter-spacing:$itemLetterSpacing;
            &.LoginError,&.EmailError,&.PassError{
                display: none;
            }
            &.Password-bad{
                background: $passwardBad;
            }
             &.Password-week{
                background: $Passwordweek;
            }
            &.Password-good{
                background: $PasswordGod;
            }
            &.Password-strong{
                background:$PasswordStrong;
            }
    }
}


    