.chuseSex {
  text-align: left;
  height: 30px;
  width: 80%; }
  .chuseSex .SexElemnt {
    background: #e9eff2;
    opacity: 0.9;
    boder: 0;
    width: 50%; }
    .chuseSex .SexElemnt:hover {
      transition: 0.8s all;
      opacity: 0.9;
      background-color: #e9eff2;
      border: 2px solid gold; }
    .chuseSex .SexElemnt.ActiveSex {
      transition: .8s all;
      opacity: 1;
      background-color: #e9eff2;
      border: 5px solid gold; }

.login-Navbar {
  background: #4e4ab1;
  border-bottom: 5px solid #ffda0e; }
  .login-Navbar .navbar-logo {
    font-size: 1.1em; }
  .login-Navbar .logoNav {
    width: 100px;
    height: 50px; }
  .login-Navbar .navbar-menu {
    transition: .6s all; }
    .login-Navbar .navbar-menu a {
      letter-spacing: 5px;
      font-weight: 800; }
      .login-Navbar .navbar-menu a.loginsite-active {
        color: #ffffff;
        opacity: 1; }
      .login-Navbar .navbar-menu a.loginsite-Notactive {
        color: rgba(255, 255, 255, 0.61);
        opacity: 0.5; }
      .login-Navbar .navbar-menu a:hover, .login-Navbar .navbar-menu a:focus {
        color: white; }

#login {
  display: block; }

#register, #passwordresset, #regulation {
  display: none; }

.loginActions {
  margin-top: 10px;
  text-align: center; }
  .loginActions .register, .loginActions .passwordrest {
    margin-left: -10px; }
  .loginActions .register:hover {
    transition: 0.8s all;
    background: #d15b5b; }

.login-errors {
  text-align: left; }
  .login-errors ul {
    list-style: none; }

.ContentDivLogin {
  background-color: #96cef2;
  border-radius: 5%;
  box-shadow: 0 2px 8px black;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .ContentDivLogin .login-section-name {
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    letter-spacing: 10px;
    color: white; }

.form-input-normal {
  position: relative; }
  .form-input-normal .LoginRegister {
    margin-bottom: 10px; }
  .form-input-normal .email {
    margin-top: 10px; }
  .form-input-normal input {
    background: rgba(233, 239, 242, 0.8);
    padding: 10px;
    outline: none;
    min-width: inherit;
    border: none;
    width: 80%;
    margin-top: 10px;
    opacity: 0.9; }
    .form-input-normal input:hover, .form-input-normal input:focus {
      transition: 0.8s all;
      background: #e9eff2;
      opacity: 1;
      border-bottom: 2px solid gold; }
    .form-input-normal input.inputError {
      background: #e36b67; }
      .form-input-normal input.inputError:hover, .form-input-normal input.inputError:focus {
        transition: 0.8s all;
        background: #e36b67; }
    .form-input-normal input.inputSucces {
      background: #57e038; }
      .form-input-normal input.inputSucces:hover, .form-input-normal input.inputSucces:focus {
        transition: 0.8s all;
        background: #57e038; }
    .form-input-normal input.Password-bad {
      transition: 0.8s all;
      background: #cf0600; }
    .form-input-normal input.Password-week {
      transition: 0.8s all;
      background: #ffdd38; }
    .form-input-normal input.Password-good {
      transition: 0.8s all;
      background: #3ec61f; }
    .form-input-normal input.Password-strong {
      transition: 0.8s all;
      background: #57e038; }
    .form-input-normal input.PasswaordJoin {
      margin-top: 0px; }
      .form-input-normal input.PasswaordJoinhover {
        transition: 0.8s all;
        border-bottom: 0px solid gold; }
  .form-input-normal.noborderhover input:hover, .form-input-normal.noborderhover input:focus {
    border-bottom: none; }
  .form-input-normal .itemStan {
    margin-left: 10%;
    width: 80%;
    color: white;
    padding: 10px;
    background: #e36b67;
    margin-top: 20px;
    margin-bottom: -10px;
    letter-spacing: 2px; }
    .form-input-normal .itemStan.LoginError, .form-input-normal .itemStan.EmailError, .form-input-normal .itemStan.PassError {
      display: none; }
    .form-input-normal .itemStan.Password-bad {
      transition: 0.8s all;
      background: #cf0600; }
    .form-input-normal .itemStan.Password-week {
      transition: 0.8s all;
      background: #ffdd38; }
    .form-input-normal .itemStan.Password-good {
      transition: 0.8s all;
      background: #3ec61f; }
    .form-input-normal .itemStan.Password-strong {
      transition: 0.8s all;
      background: #57e038; }

/*# sourceMappingURL=login.css.map */
