.login-Navbar {
  background: #4e4ab1;
  border-bottom: 5px solid #ffda0e; }
  .login-Navbar .navbar-logo {
    font-size: 1.1em; }
  .login-Navbar .logoNav {
    width: 100px;
    height: 50px; }
  .login-Navbar .navbar-menu {
    transition: .6s all; }
    .login-Navbar .navbar-menu a {
      letter-spacing: 5px;
      font-weight: 800; }
      .login-Navbar .navbar-menu a.loginsite-active {
        color: #ffffff;
        opacity: 1; }
      .login-Navbar .navbar-menu a.loginsite-Notactive {
        color: rgba(255, 255, 255, 0.61);
        opacity: 0.5; }
      .login-Navbar .navbar-menu a:hover, .login-Navbar .navbar-menu a:focus {
        color: white; }

#login {
  display: block; }

#register, #passwordresset, #regulation {
  display: none; }

.loginActions {
  margin-top: 10px;
  text-align: center; }
  .loginActions .register, .loginActions .passwordrest {
    margin-left: -10px; }

.login-errors {
  text-align: left; }
  .login-errors ul {
    list-style: none; }

.ContentDivLogin {
  background-color: #96cef2;
  border-radius: 5%;
  box-shadow: 0 2px 8px black;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .ContentDivLogin .login-section-name {
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    letter-spacing: 10px;
    color: white; }

.form-input-normal {
  position: relative; }
  .form-input-normal input {
    background: rgba(233, 239, 242, 0.8);
    padding: 10px;
    outline: none;
    min-width: inherit;
    border: none;
    width: 80%;
    margin-top: 10px;
    opacity: 0.7; }
    .form-input-normal input:hover, .form-input-normal input:focus {
      background: #e9eff2;
      opacity: 1;
      border-bottom: 2px solid gold; }
    .form-input-normal input.inputError {
      background: #e80700; }
      .form-input-normal input.inputError:hover, .form-input-normal input.inputError:focus {
        background: #e80700; }
    .form-input-normal input.inputSucces {
      background: #57e038; }
      .form-input-normal input.inputSucces:hover, .form-input-normal input.inputSucces:focus {
        background: #57e038; }
    .form-input-normal input.Password-bad {
      background: #cf0600; }
    .form-input-normal input.Password-week {
      background: #ffdd38; }
    .form-input-normal input.Password-good {
      background: #3ec61f; }
    .form-input-normal input.Password-strong {
      background: #57e038; }
    .form-input-normal input.PasswaordJoin {
      margin-top: 0px; }
      .form-input-normal input.PasswaordJoinhover {
        border-bottom: 0px solid gold; }
  .form-input-normal.noborderhover input:hover, .form-input-normal.noborderhover input:focus {
    border-bottom: none; }
  .form-input-normal .itemStan {
    margin-left: 10%;
    width: 80%;
    color: white;
    padding: 10px;
    margin-bottom: -10px;
    letter-spacing: 2px; }
    .form-input-normal .itemStan.LoginError, .form-input-normal .itemStan.EmailError, .form-input-normal .itemStan.PassError {
      display: none; }
    .form-input-normal .itemStan.Password-bad {
      background: #cf0600; }
    .form-input-normal .itemStan.Password-week {
      background: #ffdd38; }
    .form-input-normal .itemStan.Password-good {
      background: #3ec61f; }
    .form-input-normal .itemStan.Password-strong {
      background: #57e038; }

.Main-Navbar {
  z-index: 0;
  background: #4e4ab1;
  border-bottom: 5px solid #ffda0e; }
  .Main-Navbar .logoNav {
    width: 100px;
    height: 50px; }
  .Main-Navbar .navbar-menu-Left {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; }
    .Main-Navbar .navbar-menu-Left .SearchMenuElemnt {
      margin-left: 15px;
      margin-bottom: -20px; }
      .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .Main-Search {
        margin-top: 5px;
        transition: 0.8s all;
        padding: 10px;
        width: 400px;
        opacity: 0.7;
        display: flex; }
        .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .Main-Search:hover {
          opacity: 1; }
      .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .searchDiv {
        display: none;
        position: absolute;
        width: 350px;
        top: 45;
        background: #4e4ab1;
        -webkit-box-shadow: 11px 47px 60px 9px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: 11px 47px 60px 9px rgba(0, 0, 0, 0.48);
        box-shadow: 11px 47px 60px 9px rgba(0, 0, 0, 0.48);
        color: rebeccapurple; }
      .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .SearchDivPadding {
        display: none;
        position: absolute;
        background: #4e4ab1;
        width: 500px;
        height: 25px; }
      .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .Resultbox {
        background: white;
        padding: 5px; }
  .Main-Navbar .navbar-menu {
    position: relative; }
    .Main-Navbar .navbar-menu .ProfilInfo a, .Main-Navbar .navbar-menu .Load-Messages a, .Main-Navbar .navbar-menu .Load-Notification a, .Main-Navbar .navbar-menu .Load-Drapdown a {
      transition: .8s all;
      opacity: 0.7; }
      .Main-Navbar .navbar-menu .ProfilInfo a:hover, .Main-Navbar .navbar-menu .Load-Messages a:hover, .Main-Navbar .navbar-menu .Load-Notification a:hover, .Main-Navbar .navbar-menu .Load-Drapdown a:hover {
        opacity: 1;
        color: #f0f023; }
      .Main-Navbar .navbar-menu .ProfilInfo a .MainMenuName, .Main-Navbar .navbar-menu .Load-Messages a .MainMenuName, .Main-Navbar .navbar-menu .Load-Notification a .MainMenuName, .Main-Navbar .navbar-menu .Load-Drapdown a .MainMenuName {
        margin-left: 20px;
        margin-top: 5px; }
    .Main-Navbar .navbar-menu .Load-Messages.ActivSection, .Main-Navbar .navbar-menu .Load-Notification.ActivSection, .Main-Navbar .navbar-menu .Load-Drapdown.ActivSection {
      background: #706cc2;
      border-left: 2px solid #ffda0e;
      border-right: 2px solid #ffda0e;
      border-top: 2px solid #ffda0e; }
    .Main-Navbar .navbar-menu .Load-Messages a.clicked-button, .Main-Navbar .navbar-menu .Load-Notification a.clicked-button, .Main-Navbar .navbar-menu .Load-Drapdown a.clicked-button {
      transform: scale(1.2);
      opacity: loadClickedButtonOpacity;
      color: #f8e716;
      font-weight: loadClickedButtonFontWeight; }
    .Main-Navbar .navbar-menu .Load-Messages a.notreeded, .Main-Navbar .navbar-menu .Load-Notification a.notreeded, .Main-Navbar .navbar-menu .Load-Drapdown a.notreeded {
      position: relative;
      color: #f8e716;
      transform: scale(1.2); }
      .Main-Navbar .navbar-menu .Load-Messages a.notreeded .CountItem, .Main-Navbar .navbar-menu .Load-Notification a.notreeded .CountItem, .Main-Navbar .navbar-menu .Load-Drapdown a.notreeded .CountItem {
        position: absolute;
        color: #f8e716;
        width: 20px;
        height: 20px;
        left: 5px;
        top: 5px;
        background-color: #F34A53;
        border-radius: 100%;
        font-weight: 800; }
    .Main-Navbar .navbar-menu .Load-Section-messages, .Main-Navbar .navbar-menu .Load-Section-notifications, .Main-Navbar .navbar-menu .Load-Section-Drapdown {
      display: none; }
      .Main-Navbar .navbar-menu .Load-Section-messages .Dropdown-Menu-Div, .Main-Navbar .navbar-menu .Load-Section-notifications .Dropdown-Menu-Div, .Main-Navbar .navbar-menu .Load-Section-Drapdown .Dropdown-Menu-Div {
        letter-spacing: 5px;
        text-align: left;
        list-style: none;
        flex-direction: column; }
    .Main-Navbar .navbar-menu .Load-div {
      display: none;
      background: #706cc2;
      position: absolute;
      top: 65;
      right: 0;
      width: 400px;
      border-bottom: 2px solid #ffda0e;
      border-left: 2px solid #ffda0e;
      border-right: 2px solid #ffda0e; }

@media (min-width: 480px) {
  .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .Main-Search {
    width: 300px; }

  .MobileOnly {
    display: flex; } }
@media (max-width: 480px) {
  .Main-Navbar .navbar-menu-Left .Main-Search.DestopOnly {
    display: none; } }
@media (max-width: 768px) {
  .Main-Navbar .navbar-menu .Load-Messages a.notreeded, .Main-Navbar .navbar-menu .Load-Notification a.notreeded, .Main-Navbar .navbar-menu .Load-Drapdown a.notreeded {
    position: static;
    transform: scale(1); }
    .Main-Navbar .navbar-menu .Load-Messages a.notreeded .CountItem, .Main-Navbar .navbar-menu .Load-Notification a.notreeded .CountItem, .Main-Navbar .navbar-menu .Load-Drapdown a.notreeded .CountItem {
      position: static; } }
@media (min-width: 768px) {
  .Main-Navbar .navbar-menu-Left .SearchMenuElemnt .Main-Search {
    width: 350px; }

  .MobileOnly {
    display: none; } }
@media only screen and (max-width: 768px) {
  .MainPage .leftSite {
    display: none; }
  .MainPage .Chat {
    display: none; } }
.Messages-Nabvar {
  background: #5a5aff;
  border-bottom: 2px solid black;
  text-align: center; }
  .Messages-Nabvar .navbar-menu {
    transition: 0.8s all; }
    .Messages-Nabvar .navbar-menu li a {
      font-size: 15px;
      font-weight: 500;
      font-style: italic;
      color: white; }
      .Messages-Nabvar .navbar-menu li a:hover {
        transition: 0.8s all;
        color: red;
        transform: 0.8s all; }
  .Messages-Nabvar .MessagesDiv {
    position: relative; }
    .Messages-Nabvar .MessagesDiv .MessagesIcon {
      opacity: 0.5;
      margin: 10px;
      width: 25px;
      height: 25px; }
      .Messages-Nabvar .MessagesDiv .MessagesIcon:hover {
        transition: 0.8s all;
        opacity: 1; }
    .Messages-Nabvar .MessagesDiv .MessagesCount {
      position: absolute;
      color: white;
      width: 20px;
      height: 20px;
      left: 20px;
      top: 5px;
      background-color: #F34A53;
      border-radius: 100%;
      font-weight: 800; }
  .Messages-Nabvar .TrassDiv {
    opacity: 0.5;
    margin: 10px;
    width: 25px;
    height: 25px; }
    .Messages-Nabvar .TrassDiv:hover {
      transition: 0.8s all;
      opacity: 1; }

.messages-Loop {
  width: 100%;
  height: 220px;
  overflow: auto;
  overflow-x: hidden; }
  .messages-Loop .messages-Loop-Element {
    transition: 0.8s all;
    background: white;
    color: black;
    opacity: 0.7; }
    .messages-Loop .messages-Loop-Element.not-reeded {
      opacity: 1; }
    .messages-Loop .messages-Loop-Element .avatar {
      width: 50px;
      height: 50px; }
    .messages-Loop .messages-Loop-Element:hover {
      opacity: 1; }
    .messages-Loop .messages-Loop-Element .Time, .messages-Loop .messages-Loop-Element .Login {
      text-align: left;
      font-weight: 600; }
    .messages-Loop .messages-Loop-Element .Time {
      text-align: right; }
    .messages-Loop .messages-Loop-Element .messages-Loop-Contnet {
      padding: 2px;
      text-align: left; }
  .messages-Loop .Empty-Messages {
    background: white;
    color: black;
    padding: 10px; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*# sourceMappingURL=main.css.map */
