.login-Navbar {
  background: #4e4ab1;
  border-bottom: 5px solid #ffda0e; }
  .login-Navbar a {
    transition: .3s all; }
    .login-Navbar a.loginsite-active {
      letter-spacing: 1px;
      color: #ffffff;
      opacity: 1;
      font-weight: 800;
      transform: scale(1.4); }
    .login-Navbar a.loginsite-Notactive {
      color: rgba(255, 255, 255, 0.61);
      opacity: 0.5;
      font-weight: 400; }
    .login-Navbar a:hover, .login-Navbar a:focus {
      color: white; }
  .login-Navbar .navbar-logo {
    font-weight: 800;
    font-size: 1.1em; }

#login {
  display: block; }

#register, #passwordresset, #regulation {
  display: none; }

.loginActions {
  margin-top: 10px;
  text-align: center; }
  .loginActions .login:hover {
    background: rgba(0, 128, 0, 0.76); }
  .loginActions .register, .loginActions .passwordrest {
    margin-left: -10px; }

.login-errors {
  text-align: left; }
  .login-errors ul {
    list-style: none; }

.ContentDivLogin {
  background-color: #96cef2;
  border-radius: 5%;
  box-shadow: 0 2px 8px black;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .ContentDivLogin .login-section-name {
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    letter-spacing: 10px;
    color: white; }

.form-input-normal {
  position: relative; }
  .form-input-normal input {
    background: rgba(233, 239, 242, 0.8);
    padding: 10px;
    outline: none;
    min-width: inherit;
    border: none;
    width: 80%;
    margin-top: 10px;
    opacity: 0.7;
    transition: 0.3s all; }
    .form-input-normal input:hover, .form-input-normal input:focus {
      background: #e9eff2;
      opacity: 1;
      border-bottom: 2px solid gold; }
    .form-input-normal input.inputError {
      background: #e80700; }
      .form-input-normal input.inputError:hover, .form-input-normal input.inputError:focus {
        background: #e80700; }
    .form-input-normal input.inputSucces {
      background: #57e038; }
      .form-input-normal input.inputSucces:hover, .form-input-normal input.inputSucces:focus {
        background: #57e038; }
    .form-input-normal input.Password-bad {
      background: #cf0600; }
    .form-input-normal input.Password-week {
      background: #ffdd38; }
    .form-input-normal input.Password-good {
      background: #3ec61f; }
    .form-input-normal input.Password-strong {
      background: #57e038; }
    .form-input-normal input.PasswaordJoin {
      margin-top: 0px; }
      .form-input-normal input.PasswaordJoinhover {
        border-bottom: 0px solid gold; }
  .form-input-normal.noborderhover input:hover, .form-input-normal.noborderhover input:focus {
    border-bottom: none; }
  .form-input-normal .itemStan {
    margin-left: 10%;
    width: 80%;
    background: #cf0600;
    color: white;
    padding: 10px;
    margin-bottom: -10px;
    letter-spacing: 2px; }
    .form-input-normal .itemStan.LoginError, .form-input-normal .itemStan.EmailError, .form-input-normal .itemStan.PassError {
      display: none; }
    .form-input-normal .itemStan.Password-bad {
      background: #cf0600; }
    .form-input-normal .itemStan.Password-week {
      background: #e6811b; }
    .form-input-normal .itemStan.Password-good {
      background: #8bc744; }
    .form-input-normal .itemStan.Password-strong {
      background: #8ff516; }

@media only screen and (max-width: 500px) {
  .loginActions {
    display: flex;
    margin: 5px;
    flex-direction: column;
    width: 100%; }
    .loginActions .login, .loginActions .register {
      border-radius: 0px; }
    .loginActions .login {
      margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
