$ChatDIVBorder:3px solid gold;
$ChatDIVbackground:#e1dff8;
$ChatDIVwidth:200px;
$showChatIconBacground:red;
$showProfilIconBacground:red;
$transition:.8s all;

$NotReededDivCountColor:red;
$NotReededDivCountBorder:0px solid black;
$chatBorderColor:2px solid gold;

$showChatIconCountOnlineColor:#aaadad;
$CountMessagesNotReededCountBorder:1px solid black;
$CountMessagesNotReededBorder:0px solid black;
$CountMessagesNotReededBackground:red;
$activChatWindow:#6363db;
$activChatMessagesWindow:lighten($activChatWindow, 30%); 
$MainSearchTransition:.8s all;

$MainNaberBacground:#4e4ab1; //#4e4ab1
$MainNaberBorder:2px solid #ffda0e;

.showChatIcon,.showProfilIcon{
    z-index: 1;
}
#ChatDiv{
    display: none;
    position: fixed;
    z-index: 1;
    top:0px;
    right: 0;
    width: 200px;
}
.ChatStyle{
    background: $ChatDIVbackground;
    border-left:$chatBorderColor; 
    height: 100%;
}
#MainPaageDiv{
   #ProfilInfo{
        .ProfilInfoPosition{
            display: none;
            position: fixed;
            top:80px;
        }
    }
    #MainPageContent{
        text-align: justify;
        width: 100%;
        margin-top: 50px;
        min-height: 50px; 
    }
}
.showChatIcon,.showProfilIcon,.MessStanMobile,.showChatIconHide{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    right: 0;
    top:70px;
    opacity: .9;
    .icon{
        margin-top: 15px;
        width: 50px;
        height: 50px;
    }
    &:hover{
        opacity: 1;
        transform: scale(1.1);
    }
}
.showChatIcon,.MessStanMobile,.showChatIconHide{
    
    .icon{
        margin-left: -20px;
    }
    .showChatSection,.MobileMessCountSection{
        position: relative;
        .CountOnline,.CountMessagesNotReeded{
            background: $showChatIconCountOnlineColor;
            padding:4px;
            position: absolute;
            left:5px;
            top:5px;
            border-radius: 10px;
            border: $CountMessagesNotReededCountBorder;
            .ChatIcon{
                margin-top: 5px;
            }
            .Count{
                color: white;
                font-weight: 800;
                margin-left: 5px;
            }
        }
        .CountMessagesNotReeded{
            padding: 10px;
            border: $CountMessagesNotReededBorder;
            border-radius: 100%;
            background: $CountMessagesNotReededBackground;
        }
    }
}
.NotReededMobile{
    .NotReededDiv{
        height: 200px;
        padding: 5px;
        .UserNotReedLoop{
             display: flex;
        }
        .UserLoopItem{
            position: relative;
            .Avatar{
                width: 80px;
                height:80px;
                border-radius: 15px;
            }
            .Count{
                position: absolute;
                top: -10; 
                right:-10;
                padding: 10px;
                color: white;
                border: $NotReededDivCountBorder;
                border-radius: 100%;
                background: $NotReededDivCountColor;
            }
        }
    }
    .modal-body{
        margin-left: 25px;
        position: fixed;
        bottom:10px; 
        background:$MainNaberBacground; 
        border: 2px solid #ffda0e;
        width: 380px;
        height: 120px;
        .close-button {
            background: none;
            top: -30px;
            right: -30px;
            width: 30px;
            height: 30px;
        }
    }
}
.MessStanMobile{
    top:150px;
}
.showProfilIcon{
    .icon{
        margin-left: 10px;
    }
}
.showProfilIcon{
    left: 0;
}
@media (min-width: 768px){
    .showChatIcon,.showProfilIcon,.MessStanMobile{
        display: none;
    }
    .showChatIcon{
        display: block;
    }
    #MainPaageDiv{
         #ProfilInfo{
             width: 200px;
            .ProfilInfoPosition{
                width: 180px;
                display: block;
            }
         }
         #MainPageContent{
            margin-top: 80px;
            width: 480px;
        }
    }
    #ChatDiv{
        display: none;
    }
}
@media (min-width: 880px){
    #MainPaageDiv{
        #MainPageContent{
            margin-top: 80px;
            width: 600px;
        }
    }
}
@media (min-width: 1050px) {
    .showChatIcon,.showProfilIcon{
        display: none;
    }
    #MainPaageDiv{
        #ProfilInfo{
            width: 250px;
            .ProfilInfoPosition{
                width: 240px;
            }
        }
        #MainPageContent{
            width: 600px;
        }
    }
    #ChatDiv{
        width: 200px;
        display: block;
    }
}
@media (min-width: 1150px) {
    #MainPaageDiv{
        #MainPageContent{
            width: 650px;
        }
    }
}
@media (min-width: 1300px) {
    #MainPaageDiv{
        #MainPageContent{
            width: 700px;
        }
    }
}
@media (min-width: 1650px) {
    .showChatIconHide{
        top:70px;
        right: -100px;
    } 
    #MainPaageDiv{
        #ProfilInfo{
            width: 300px;
            .ProfilInfoPosition{
                width: 250px;
            }
        }   
        #MainPageContent{
            width: 800px;
        }
    }
}

